.react-calender {
  background: #9ec9e2 !important;
  border: none !important;
  width: 180px !important;
}
.rbc-calender {
  height: 500px !important;
}

.react-calender .rbc-toolbar {
  font-size: 20px !important;
}

.react-calender .react-calendar__navigation__arrow {
  font-size: 20px !important;
  margin: 0px 5px !important;
  background-color: #dde1e6 !important;
  border-radius: 12px !important;
}

.react-calender .react-calendar__tile--now {
  background: #1087ff !important;
  color: white;
}
.react-calender .react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  display: none !important; 
}


/****************************** Media query *******************************/

/* For screens with a max-width of 320px */
@media (max-width: 320px) {
  .react-calender {
    width: 180px !important;
  }
}

/* For screens with a min-width of 321px and max-width of 450px */
@media (min-width: 321px) and (max-width: 450px) {
  .react-calender {
    width: 230px !important;
  }
}

/* For screens with a min-width of 451px and max-width of 767px */
@media (min-width: 451px) and (max-width: 767px) {
  .react-calender {
    width: 300px !important;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .react-calender {
    height: 170px !important;
  }
}
/* For screens with a min-width of 768px and max-width of 1600px */
@media (min-width: 1024px) and (max-width: 1920px) {
  .react-calender {
    width: 350px !important;
    height: 170px !important;
    scrollbar-width: 1px;
    scrollbar-color: #9ec9e2 #dde1e6 !important;
  }
  .rbc-calender {
    height: 900px !important;
  }
}